openapi: 3.2.0
info:
  title: Moltrust Ch Salesguard API
  version: 1.5.0
  contact:
    name: CryptoKRI GmbH
    url: https://moltrust.ch
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'Operations tagged salesguard across 2 of this provider''s published API definitions: moltrust-ch-moltguard-openapi.json, moltrust-ch-moltguard-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch/guard
  description: Production
security: []
tags:
- name: salesguard
  description: Brand/Product/Reseller registration + verify
paths:
  /salesguard/brand/register:
    post:
      tags:
      - salesguard
      summary: Register a brand
      operationId: registerBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesguardRegResult'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /salesguard/product/register:
    post:
      tags:
      - salesguard
      summary: Register a product (ProductProvenanceCredential)
      operationId: registerProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesguardRegResult'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /salesguard/reseller/authorize:
    post:
      tags:
      - salesguard
      summary: Authorize a reseller (AuthorizedResellerCredential)
      operationId: authorizeReseller
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesguardRegResult'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /salesguard/reseller/verify/{reseller_did}:
    get:
      tags:
      - salesguard
      summary: Verify a reseller is authorized for a brand/product
      operationId: verifyReseller
      parameters:
      - name: reseller_did
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Verify result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesguardVerifyResult'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /salesguard/verify/{product_id}:
    get:
      tags:
      - salesguard
      summary: Verify a product provenance
      operationId: verifyProduct
      parameters:
      - name: product_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Verify result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesguardVerifyResult'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
components:
  schemas:
    SalesguardVerifyResult:
      type: object
      additionalProperties: true
      properties:
        verified:
          type: boolean
        provenance:
          type: object
          additionalProperties: true
    SalesguardRegResult:
      type: object
      additionalProperties: true
      properties:
        ok:
          type: boolean
        id:
          type: string
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: 'x402 v2 payment receipt header. Format: "x402 <base64-encoded-receipt>". See https://x402.org/writing/x402-v2-launch.'
x-refined-from:
- moltrust-ch-moltguard-openapi.json
- moltrust-ch-moltguard-openapi.yml
