openapi: 3.2.0
info:
  title: Moltrust Ch Payment API
  version: '2.5'
  description: 'Operations tagged Payment across 2 of this provider''s published API definitions: moltrust-ch-openapi.json, moltrust-ch-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch
  description: Production. The served openapi.json omits servers[]; the base is stated by the provider at https://moltrust.ch/developers.html (quickstart), in the agent card supportedInterfaces[0].url (https://api.moltrust.ch/a2a) and in did.json service[].serviceEndpoint (https://api.moltrust.ch).
tags:
- name: Payment
paths:
  /payment/lightning/invoice:
    post:
      summary: Create Lightning Invoice
      operationId: create_lightning_invoice_payment_lightning_invoice_post
      parameters:
      - name: X-API-Key
        in: header
        required: true
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LightningInvoiceRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Payment
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    LightningInvoiceRequest:
      properties:
        amount_sats:
          type: integer
          maximum: 10000000.0
          minimum: 1.0
          title: Amount Sats
        description:
          type: string
          maxLength: 128
          title: Description
          default: MolTrust
      type: object
      required:
      - amount_sats
      title: LightningInvoiceRequest
x-refined-from:
- moltrust-ch-openapi.json
- moltrust-ch-openapi.yml
