openapi: 3.2.0
info:
  title: Moltrust Ch Travel Vc API
  version: 1.5.0
  contact:
    name: CryptoKRI GmbH
    url: https://moltrust.ch
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'Operations tagged travel-vc across 2 of this provider''s published API definitions: moltrust-ch-moltguard-openapi.json, moltrust-ch-moltguard-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch/guard
  description: Production
security: []
tags:
- name: travel-vc
  description: TravelAgentCredential trip + verify + issue
paths:
  /travel/info:
    get:
      tags:
      - travel-vc
      summary: MT Travel service info
      operationId: getTravelInfo
      responses:
        '200':
          description: Info
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /travel/receipt/{id}:
    get:
      tags:
      - travel-vc
      summary: Get an issued TravelAgentCredential receipt by id
      operationId: getTravelReceipt
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelReceipt'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /travel/schema:
    get:
      tags:
      - travel-vc
      summary: TravelAgentCredential schema document
      operationId: getTravelSchema
      responses:
        '200':
          description: Schema
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /travel/trip/{tripId}:
    get:
      tags:
      - travel-vc
      summary: Get trip-detail snapshot by tripId
      operationId: getTravelTrip
      parameters:
      - name: tripId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Trip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelTrip'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /travel/verify:
    post:
      tags:
      - travel-vc
      summary: Verify a TravelAgentCredential (delegation chain, free)
      operationId: verifyTravel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Verify result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelVerifyResult'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
  /vc/travel-agent/issue:
    post:
      tags:
      - travel-vc
      summary: Issue a TravelAgentCredential (paid)
      operationId: issueTravelAgentVC
      security:
      - x402: []
      x-moltrust-pricing:
        amount: '5.00'
        currency: USDC
        chain: eip155:8453
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCIssueRequestBase'
      responses:
        '200':
          description: Issued VC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelAgentCredential'
        '402':
          description: x402 payment required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequired'
    servers:
    - url: https://api.moltrust.ch/guard
      description: Production
components:
  schemas:
    TravelReceipt:
      type: object
      additionalProperties: true
      properties:
        receiptId:
          type: string
    TravelAgentCredential:
      type: object
      additionalProperties: true
      description: Issued TravelAgentCredential (W3C VC).
    VCIssueRequestBase:
      type: object
      description: Base body for a VC issuance request. Specific VC types extend with type-specific fields.
      additionalProperties: true
    TravelTrip:
      type: object
      additionalProperties: true
      properties:
        tripId:
          type: string
    TravelVerifyResult:
      type: object
      additionalProperties: true
      properties:
        verified:
          type: boolean
    PaymentRequired:
      type: object
      description: x402 v2 challenge body. Returned with HTTP 402 when X-PAYMENT header is missing or invalid.
      properties:
        x402:
          type: object
          properties:
            version:
              type: integer
              example: 2
            accepts:
              type: array
              items:
                type: object
                properties:
                  scheme:
                    type: string
                    example: exact
                  network:
                    type: string
                    example: base
                  maxAmountRequired:
                    type: object
                    properties:
                      asset:
                        type: string
                        example: USDC
                      amount:
                        type: string
                        description: USDC base units (6 decimals)
                  payTo:
                    type: string
  securitySchemes:
    x402:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: 'x402 v2 payment receipt header. Format: "x402 <base64-encoded-receipt>". See https://x402.org/writing/x402-v2-launch.'
x-refined-from:
- moltrust-ch-moltguard-openapi.json
- moltrust-ch-moltguard-openapi.yml
