openapi: 3.2.0
info:
  title: Moltrust Ch Attestations API
  version: '2.5'
  description: 'Operations tagged Attestations across 2 of this provider''s published API definitions: moltrust-ch-openapi.json, moltrust-ch-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch
  description: Production. The served openapi.json omits servers[]; the base is stated by the provider at https://moltrust.ch/developers.html (quickstart), in the agent card supportedInterfaces[0].url (https://api.moltrust.ch/a2a) and in did.json service[].serviceEndpoint (https://api.moltrust.ch).
tags:
- name: Attestations
paths:
  /attestations/{attestation_id}:
    get:
      summary: Get Attestation
      description: 'Resolve a MolTrust behavioral_trust attestation by ID.

        Compatible with aeoess/agent-governance-vocabulary canonical signal format.'
      operationId: get_attestation_attestations__attestation_id__get
      parameters:
      - name: attestation_id
        in: path
        required: true
        schema:
          type: string
          title: Attestation Id
      - name: did
        in: query
        required: false
        schema:
          type: string
          title: Did
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Attestations
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- moltrust-ch-openapi.json
- moltrust-ch-openapi.yml
