openapi: 3.2.0
info:
  title: Moltrust Ch Aae API
  version: '2.5'
  description: 'Operations tagged Aae across 2 of this provider''s published API definitions: moltrust-ch-openapi.json, moltrust-ch-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch
  description: Production. The served openapi.json omits servers[]; the base is stated by the provider at https://moltrust.ch/developers.html (quickstart), in the agent card supportedInterfaces[0].url (https://api.moltrust.ch/a2a) and in did.json service[].serviceEndpoint (https://api.moltrust.ch).
tags:
- name: Aae
paths:
  /aae/evaluations/{did}:
    get:
      summary: Get Agent Aae Evaluations
      description: 'Public read of an agent''s AAE-evaluator verdicts — for independent witness

        recomputation of the class=P constraint-breach penalty (TechSpec v0.10).


        Exposes only the fields the penalty depends on: per-constraint

        {type, verdict, reason, class} plus aae_ref / created_at / aggregate verdict.

        Deliberately omits action_context (may be sensitive) and nonce (replay token).

        With this, constraint_breach_penalty is fully recomputable from public inputs

        (this endpoint + /violation/agent/{did} + endorsements). Public read.'
      operationId: get_agent_aae_evaluations_aae_evaluations__did__get
      parameters:
      - name: did
        in: path
        required: true
        schema:
          type: string
          title: Did
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Aae
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
x-refined-from:
- moltrust-ch-openapi.json
- moltrust-ch-openapi.yml
