openapi: 3.2.0
info:
  title: Moltrust Ch Reseller API
  version: '2.5'
  description: 'Operations tagged reseller across 2 of this provider''s published API definitions: moltrust-ch-openapi.json, moltrust-ch-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch
  description: Production. The served openapi.json omits servers[]; the base is stated by the provider at https://moltrust.ch/developers.html (quickstart), in the agent card supportedInterfaces[0].url (https://api.moltrust.ch/a2a) and in did.json service[].serviceEndpoint (https://api.moltrust.ch).
tags:
- name: reseller
paths:
  /reseller/login:
    post:
      tags:
      - reseller
      summary: Reseller Login
      operationId: reseller_login_reseller_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /reseller/me:
    get:
      tags:
      - reseller
      summary: Reseller Me
      operationId: reseller_me_reseller_me_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /reseller/logout:
    post:
      tags:
      - reseller
      summary: Reseller Logout
      operationId: reseller_logout_reseller_logout_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /reseller/agents:
    get:
      tags:
      - reseller
      summary: Reseller Agents
      operationId: reseller_agents_reseller_agents_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
    post:
      tags:
      - reseller
      summary: Reseller Onboard
      operationId: reseller_onboard_reseller_agents_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /reseller/billing:
    get:
      tags:
      - reseller
      summary: Reseller Billing
      operationId: reseller_billing_reseller_billing_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    OnboardBody:
      properties:
        did:
          type: string
          title: Did
      type: object
      required:
      - did
      title: OnboardBody
    LoginBody:
      properties:
        login:
          type: string
          title: Login
        password:
          type: string
          title: Password
      type: object
      required:
      - login
      - password
      title: LoginBody
x-refined-from:
- moltrust-ch-openapi.json
- moltrust-ch-openapi.yml
