openapi: 3.2.0
info:
  title: Moltrust Ch AWS Marketplace API
  version: '2.5'
  description: 'Operations tagged AWS Marketplace across 2 of this provider''s published API definitions: moltrust-ch-openapi.json, moltrust-ch-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.moltrust.ch
  description: Production. The served openapi.json omits servers[]; the base is stated by the provider at https://moltrust.ch/developers.html (quickstart), in the agent card supportedInterfaces[0].url (https://api.moltrust.ch/a2a) and in did.json service[].serviceEndpoint (https://api.moltrust.ch).
tags:
- name: AWS Marketplace
paths:
  /aws/fulfillment:
    post:
      tags:
      - AWS Marketplace
      summary: Aws Fulfillment
      operationId: aws_fulfillment_aws_fulfillment_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_aws_fulfillment_aws_fulfillment_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            text/html:
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Body_aws_fulfillment_aws_fulfillment_post:
      properties:
        x-amzn-marketplace-token:
          type: string
          title: X-Amzn-Marketplace-Token
      type: object
      required:
      - x-amzn-marketplace-token
      title: Body_aws_fulfillment_aws_fulfillment_post
x-refined-from:
- moltrust-ch-openapi.json
- moltrust-ch-openapi.yml
